@font-face {
    font-family: "LemonMilk";
    src: url("LemonMilk.otf");
}

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
* {
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(BG.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

#header2 {
    width: 100vw;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    margin: 0;
    padding: 0;
    animation: fadeIn 1.5s ease-in;
    display: none;
    z-index: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav,
a {
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "LemonMilk";
    text-decoration: none;
    float: right;
    margin: 15px 30px 70px 0;
}

a:hover {
    color: rgba(255, 255, 255, 0.5);
}

#title {
    text-align: center;
    font-size: 72px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-family: "LemonMilk";
    margin-bottom: 35px;
    clear: both;
}

span {
    display: inline-block;
    padding: 0.2em 0.5em;
    border: white solid 10px;
    margin-top: 15vh;
}

#subtitle {
    color: white;
    text-align: center;
    font-family: "LemonMilk";
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 18px;
}


#leftArrow{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 43%;
    left: 10px;
    cursor: pointer;
    transform-origin: 100% 50%;
    animation: rotatePushRight .8s both ease;
    transform-origin: 0% 50%;
    animation: rotatePullLeft .5s both ease;
}



#downArrow{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 670px;
    left: 50%;
    cursor: pointer;
}


#rightArrow{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 43%;
    right: 10px;
    cursor: pointer;
}

.pt-page-rotatePushRight {
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-animation: rotatePushRight .8s both ease;
	animation: rotatePushRight .8s both ease;
}
.pt-page-rotatePullLeft {
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-animation: rotatePullLeft .5s both ease;
	animation: rotatePullLeft .5s both ease;
}


@keyframes rotatePushRight {
	from { }
	to { opacity: 0; -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
}

@keyframes rotatePullLeft {
	from { opacity: 0; -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }
}

/*CONTACT PAGE */

#contact_container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    font-family: "LemonMilk";
}

#contact {
    color: black;
    text-align: center;
    font-size: 77px;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-family: "LemonMilk";
    margin: 50px auto 0px auto;
}


#contact2 {
    color: black;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-family: "LemonMilk";
    margin: 10px auto 100px auto;
}


}

/* CONTACT FORM */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: grey;
    font-size: 0.875em;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: grey;
    font-size: 0.875em;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #bbb5af;
}
input::placeholder,
textarea::placeholder {
    color: grey;
    font-size: 0.875em;
}
input:focus::placeholder,
textarea::focus:placeholder {
    color: #bbb5af;
}
input::-ms-placeholder,
textarea::-ms-placeholder {
    color: grey;
    font-size: 0.875em;
}
input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    color: #bbb5af;
}

/* on hover placeholder */
input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: white;
    font-size: 0.875em;
}
input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
}
input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: white;
    font-size: 0.875em;
}
input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
}
input:hover::placeholder,
textarea:hover::placeholder {
    color: white;
    font-size: 0.875em;
}
input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
    color: #cbc6c1;
}
input:hover::placeholder,
textarea:hover::placeholder {
    color: white;
    font-size: 0.875em;
}
input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
}
#form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
}
input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px black;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
input:hover {
    background: black;
    color: white;
}
textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    border: solid 1px black;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
textarea:hover {
    background: black;
    color: white;
}
#submit {
    width: 502px;
    padding: 0;
    margin: -5px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: black;
    outline: none;
    cursor: pointer;
    border: solid 1px black;
    border-top: none;
}
#submit:hover {
    color: white;
}
#popup {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 20;
    animation: fadeIn 1s ease-in;
}
#popup2 {
    display: none;
    position: fixed;
    width: 50vw;
    height: 50vh;
    top: 25%;
    right: 25%;
    background-color: white;
    z-index: 20;
    animation: fadeIn 1s ease-in;
}
.txt {
    font-family: 'lemonmilk';
    font-size: 40px;
    color: black;
    text-align: center;
    line-height: 50px;
}
#span_name {
    color: pink;
}
#exitBut {
    background-image: url(closeX.png);
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    position: fixed;
    width: 100px;
    height: 100px;
    top: 50px;
    right: 50px;
    z-index: 999;
    cursor: pointer;
}
#insta {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 1550px;
    left: 48%;
    cursor: pointer;
}
#link {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 1550px;
    left: 36%;
    cursor: pointer;
}
#fb {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 1550px;
    left: 60%;
    cursor: pointer;
}

/*ABOUT PAGE*/


#aboutTitle{
    font-family: 'lemonmilk';
    font-size: 72pt;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 35px;
    clear: both;
}


#profileImg{
width: 440px;
height:560px;
position: absolute;
left:36%;
top: 360px;
}

#aboutsection1{
    width: 100vw;
    height: 50vh;
    background-color: pink;
}

#aboutsection2{
    width: 100vw;
    height: 50vh;
    background-color: white;
}

#aboutsection3{
    width: 100vw;
    height: 50vh;
    background-color: pink;
}
/*Media Qeuires Start */


@media only screen and (max-width: 1160px){
#leftArrow{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 600px;
    left: 10px;
    cursor: pointer;
}

#downArrow{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 670px;
    left: 50%;
    cursor: pointer;
}


#rightArrow{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 600px;
    right: 10px;
    cursor: pointer;
    
}
}

@media only screen and (max-width: 635px) {
    #title {
        font-size: 40px;
    }
    
    span {
    border: white solid 5px;
    }
    
    nav,
    a {
        margin-left: 0;
        color: white;
        font-size: 19px;
        text-transform: uppercase;
        font-family: "LemonMilk";
        text-decoration: none;
        float: right;
        margin: 13px 25px 70px 0;
    }
    
    #contact {
        font-size: 40px;
    }
    
    #form {
        width: 400px;
    }
    
    input {
        width: 400px;
    }
    
    #submit {
        width: 432px;
    }
    
    textarea {
        width: 400px;
        max-width: 400px;
    }
    
    
    
#popup {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 20;
    animation: fadeIn 1s ease-in;
}
#popup2 {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    right: 50%;
    background-color: white;
    z-index: 22;
    animation: fadeIn 1s ease-in;
}
.txt {
    font-family: 'lemonmilk';
    font-size: 21px;
    color: black;
    text-align: center;
    line-height: 40px;
}
#span_name {
    color: pink;
}
#exitBut {
    background-image: url(closeX.png);
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    position: fixed;
    width: 70px;
    height: 70px;
    top: 50px;
    right: 50px;
    z-index: 50;
    cursor: pointer;
}
    
    
    
    #insta {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 1500px;
        left: 48%;
        cursor: pointer;
    }
    
    #link {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 1500px;
        left: 35%;
        cursor: pointer;
    }
    
    #fb {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 1500px;
        left: 61%;
        cursor: pointer;
    }
}


@media only screen and (max-width: 465px){
    #form {
    position: relative;
    width: 300px;
    margin: 50px auto 100px auto;
}
input {
    width: 300px;
}
textarea {
    width: 300px;
    max-width: 300px;
}
#submit {
    width: 332px;
    }
    
    #insta {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 1530px;
        left: 48%;
        cursor: pointer;
    }
    
    #link {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 1530px;
        left: 35%;
        cursor: pointer;
    }
    
    #fb {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 1530px;
        left: 61%;
        cursor: pointer;
    }
    
    
}
@media only screen and (max-width: 400px) {
    header {
        height: 100vh;
    }
    
    #title {
        font-size: 30px;
    }
    span {
    border: white solid 5px;
    margin-top: 15vh;
   }
    
    nav,
    a {
        margin-left: 0;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        font-family: "LemonMilk";
        text-decoration: none;
        margin: 10px 30px 30px 0;
    }
    
    #leftArrow{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 500px;
    left: 10px;
    cursor: pointer;
}

#downArrow{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 550px;
    left: 42%;
    cursor: pointer;
}


#rightArrow{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 500px;
    right: 10px;
    cursor: pointer;
    
}

    #contact {
        font-size: 30px;
    }
    
    #form {
        position: relative;
        width: 250px;
        margin: 50px auto 100px auto;
    }
    
    input {
        width: 245px;
    }
    
    textarea {
        width: 245px;
        max-width: 245px;
    }
    
    #submit {
        width: 277px;
    }
    
    #popup {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 20;
    animation: fadeIn 1s ease-in;
}
#popup2 {
    display: none;
    position: fixed;
    width: 300px;
    height: 400px;
    top: 25%;
    left: 10%;
    background-color: white;
    z-index: 22;
    animation: fadeIn 1s ease-in;
}
.txt {
    font-family: 'lemonmilk';
    font-size: 18px;
    color: black;
    text-align: center;
    line-height: 50px;
}
#span_name {
    color: pink;
}
#exitBut {
    background-image: url(closeX.png);
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 50px;
    right: 50px;
    z-index: 50;
    cursor: pointer;
}
   
    #contact{
        margin-bottom: 10px;
    }
    
#contact2 {
    font-size: 16px;
    margin-bottom: 1px;
    margin-top: 1px;
    }
    
    
    #insta {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 1500px;
        left: 44%;
        cursor: pointer;
    }
    
    #link {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 1500px;
        left: 20%;
        cursor: pointer;
    }
    
    #fb {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 1500px;
        left: 66%;
        cursor: pointer;
    }
 
    
    
    #aboutTitle{
    font-family: 'lemonmilk';
    font-size: 34pt;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 5px;
    clear: both;
}


#profileImg{
width: 225px;
height: 300px;
position: absolute;
left:20%;
top: 275px;
}
    
    
}


/*Ipads */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    
    #downArrow{
    top: 950px;
    }
    
    #leftArrow{
    top: 750px;
    }
    
    #rightArrow{
    top: 750px;
    }
    
   #insta {
        width: 70px;
        height: 70px;
        position: absolute;
        top: 1650px;
        left: 44%;
        cursor: pointer;
    }
    
    #link {
        width: 70px;
        height: 70px;
        position: absolute;
        top: 1650px;
        left: 20%;
        cursor: pointer;
    }
    
    #fb {
        width: 70px;
        height: 70px;
        position: absolute;
        top: 1650px;
        left: 70%;
        cursor: pointer;
    }

    
    }

/*Iphone 6 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    
    nav,
    a {
        font-size: 14px;
        margin: 7px 18px 0 0;
    }
    #header2{
    height:  100px;   
    }
    
    #downArrow{
    width: 30px;
    height: 30px;
    top: 620px;
    left: 45%;
    }
    
    #leftArrow{
    width: 30px;
    height: 30px;
    top: 400px;
    }
    
    #rightArrow{
    width: 30px;
    height: 30px;
    top: 400px;
    }
    
    #contact2{
        font-size: 12px;
    }
    
    #insta {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 1200px;
        left: 44%;
        cursor: pointer;
    }
    
    #link {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 1200px;
        left: 20%;
        cursor: pointer;
    }
    
    #fb {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 1200px;
        left: 70%;
        cursor: pointer;
    }

    
    
    
    }


/*Iphone 5*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 

     nav,
    a {
        font-size: 14px;
        margin: 7px 18px 0 0;
    }
    #header2{
    height:  50px;   
    }
    
    #downArrow{
    width: 30px;
    height: 30px;
    top: 500px;
    left: 45%;
    }
    
    #leftArrow{
    width: 30px;
    height: 30px;
    top: 400px;
    }
    
    #rightArrow{
    width: 30px;
    height: 30px;
    top: 400px;
    }
    
    #contact2{
        font-size: 12px;
    }
    
    #insta {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 1100px;
        left: 44%;
        cursor: pointer;
    }
    
    #link {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 1100px;
        left: 20%;
        cursor: pointer;
    }
    
    #fb {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 1100px;
        left: 70%;
        cursor: pointer;
    }

    
    

    
    
    }



